body
  background: rgb(20, 31, 51)

canvas
  background: rgb(213, 251, 243)

.header
  display: flex
  justify-content: center
  h1
    color: white

.main
  display: flex
  justify-content: space-between

.control
